.buttonRow {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttonRow button {
  width: 60px; /* Ensure buttons are consistently sized */
  height: 60px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  cursor: pointer;
  display: flex; /* Flexbox for centering */
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove padding for alignment */
}


.buttonRow button:hover {
  background-color: #0056b3;
}

.buttonRow .clearButton {
  background-color: yellow;
  color: rgb(255, 45, 45);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.buttonRow .clearButton:hover {
  background-color: rgb(170, 180, 0);
}

.buttonRow .operationButton {
  background-color: #28a745; /* Green for operations */
  color: white;
  font-weight: bold;
}

.buttonRow .operationButton:hover {
  background-color: #218838; /* Darker green on hover */
}
